.main-vertical-layout {
  -fx-background-color: #2a2a2a;
  -fx-spacing: 10px;
  -fx-padding: 50px 0 0 69px;
}

.ctrl-label-primary, .ctrl-label-secondary, .ctrl-label-caption {
  -fx-font-family: 'Roboto';
  -fx-font-weight: 700;
}

.ctrl-label-primary {
  -fx-text-fill: #ffffff;
  -fx-font-size: 36px;
}

.ctrl-label-secondary {
  -fx-text-fill: #828282;
  -fx-font-size: 36px;
}

.ctrl-label-hbox {
  -fx-spacing: 2px;
}

.ctrl-label-caption {
  -fx-text-fill: #828282;
  -fx-font-size: 20px;
}
