@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
}

.ctrl-root {
  -fx-background-color: #2a2a2a;
  -fx-font-family: "Roboto";
  -fx-font-weight: 700;
}

.ctrl-main-vertical-layout {
  -fx-spacing: 10px;
  -fx-padding: 50px 0 50px 69px;
}

.ctrl-label-primary,
.ctrl-label-secondary,
.ctrl-label-caption {
}

.ctrl-label-primary {
  -fx-text-fill: #ffffff;
  -fx-font-size: 36px;
}

.ctrl-label-secondary {
  -fx-text-fill: #828282;
  -fx-font-size: 36px;
}

.ctrl-gauge-vbox {
  -fx-spacing: 0;
}

.ctrl-label-hbox {
  -fx-spacing: 3px;
}

.ctrl-label-caption {
  -fx-text-fill: #828282;
  -fx-font-size: 20px;
}

.ctrl-label-caption-hover-effect {
  -fx-text-fill: #ffffff;
  -fx-font-size: 20px;
}

.ctrl-lives-state-hbox {
  -fx-spacing: 10px;
}

.ctrl-label-overline {
  -fx-font-size: 14px;
  -fx-text-fill: #828282;
}

.ctrl-bottom-status-bar {
  -fx-padding: 5px 10px 5px 10px;
  -fx-background-color: #1C3C8A;
}

.ctrl-label-status-bar-primary {
  -fx-font-size: 14px;
  -fx-text-fill: #92B2FF;
}

.ctrl-label-status-bar-secondary {
  -fx-font-size: 14px;
  -fx-text-fill: #4B73D5;
}

.ctrl-kbd-indicator-hbox {
  -fx-spacing: 8px;
}

.menu-root {
  -fx-background-color: #2a2a2a;
  -fx-font-family: "Roboto";
  -fx-font-weight: 700;
}

.menu-label-primary,
.menu-label-secondary,
.menu-label-hover-effect {
}

.menu-label-primary {
  -fx-text-fill: #ffffff;
  -fx-font-size: 48px;
}

.menu-label-secondary {
  -fx-text-fill: #828282;
  -fx-font-size: 36px;
}

.menu-label-hover-effect {
  -fx-text-fill: #ffffff;
  -fx-font-size: 36px;
}

.menu-main-vertical-layout {
  -fx-spacing: 10px;
  -fx-padding: 50px 0 50px 50px;
}

.rules-text-primary {
  -fx-text-fill: #ffffff;
  -fx-font-size: 36px;
}

.rules-text-secondary {
  -fx-text-fill: #828282;
  -fx-font-size: 28px;
}

.rules-vertical-layout {
  -fx-spacing: 20px;
  -fx-padding: 50px 0 50px 50px;
}

.settings-label-primary {
  -fx-text-fill: #ffffff;
  -fx-font-size: 36px;
}

.settings-label-secondary {
  -fx-text-fill: #ffffff;
  -fx-font-size: 28px;
}

.settings-label-tertiary {
  -fx-text-fill: #828282;
  -fx-font-size: 28px;
}

.settings-vertical-layout {
  -fx-spacing: 28px;
  -fx-padding: 50px 0 50px 50px;
}

.settings-subsection-layout {
  -fx-spacing: 14px;
}

.name-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 36px;
}

.score-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 36px;
}

.back-button {
  -fx-text-fill: #828282;
  -fx-font-size: 28px;
}

.back-button-hover-effect {
  -fx-text-fill: #ffffff;
}

.settings-hover-effect {
  -fx-text-fill: #ffffff;
}

.settings-click-effect {
  -fx-text-fill: #009688;
}

.scores-scrollpane {
  -fx-border-style: none;
  -fx-padding: 50px 0 50px 50px;
  -fx-background-color: #2a2a2a;
  -fx-background-insets: 0;
}

.scores-scrollpane > .viewport {
  -fx-background-color: transparent;
}

.scores-gridpane {
  -fx-spacing: 20px;
  -fx-background-color: #2a2a2a;
}

.jfx-text-field > .input-line {
    -fx-background-color: #eeeeee;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-text-field > .input-focused-line {
    -fx-background-color: #ffffff;
    -fx-pref-height: 2px;
}

.jfx-text-field,
.jfx-text-field:focused {
    -fx-background-color: #b3b3b3;
    -fx-prompt-text-fill: #2a2a2a;
}
